form {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 10px;
  max-width: 50%;
  margin: auto;
  height: 405px;

  button {
    float: right;
  }
}

.go-home {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 15px 0;

  button {
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  form {
    max-width: 100%;
    font-size: 15px;
  }
}
