/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

* {
  font-family: 'Poppins';
}

h2 {
  text-align: center;
}

.container {
  padding-top: 10px;
}
