.container {
  padding-top: 10px;
}

.list-group {
  align-items: center;
}

.list-group-item {
  max-width: 40%;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}